* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
  background: none;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
  background: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background: none;
}
.nav-links {
  display: flex;
  list-style: none;
  background: none;
}
.nav-links li {
  padding-left: 6rem;
  font-size: 1.2rem;
  background: none;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  background: none;
}
.footer-links li {
  display: inline;
  float: left;
  text-align: center;
  padding-left: 14em;
  background: none;
}
footer {
  color: black;
  padding: 3em;
  margin-top: auto;
  font-size: 1.2em;
  background: none;
}
.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}
.slide-img {
  height: 450px;
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;
}
.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: black;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}
.type span {
  color: rgba(255, 255, 255, 0.5);
}
.price {
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #ffffff;
  background-color: black;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  height: 100px;
}
.center {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(239, 237, 237);
  border-radius: 10px;
}

.center h2 {
  text-align: center;
  padding: 0 0 50px 0;
  font-family: serif;
}
.center h3 {
  text-align: center;
  padding: 0 0 50px 0;
  font-family: serif;
}
.center form  {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadaa;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadaa;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #252525;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #252525;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #252525;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #252525;
  border-radius: 25px;
  font-size: 19px;
  color: floralwhite;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: floralwhite;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #6666;
}

.signup_link a {
  color: #252525;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}
/*Create Account*/
.container {
  max-width: 700px;
  width: 100%;
  padding: 30px 30px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background: #252525;
  background: linear-gradient();
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #ccc;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
}

.photo img {
  position: relative;
  right: 20px;
  bottom: 500px;
  width: 600px;
  height: 500px;
}
.contact h2 {
  position: relative;
  left: 50px;
}

.contact .c-explanation {
  position: relative;
  left: 70px;
}
.contact .map {
  position: relative;
  left: 920px;
  bottom: 100px;
  padding-right: 20px;
}
.contact .c-form {
  position: relative;
  left: 140px;
  bottom: 230px;
}

.contact .contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .input-box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
}
.contact .contact-form .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact .contact-form input {
  height: 45px;
  width: 50%;
  outline: none;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.contact .contact-form input:focus,
.contact .contact-form input:valid {
  border-color: #ccc;
}
.contact .button02 {
  width: 15%;
  position: relative;
  left: 930px;
}

.landing .photo-section img {
  position: relative;
  left: 370px;
}

/*Homepage section styles*/

.input-group {
  margin-bottom: 1.5rem;
}
.input-label {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}
.input,
.options {
  outline: none;
  border: none;
  min-height: 4rem;
  padding: 1rem;
  font-weight: bold;
  color: #a5a5a5;

  letter-spacing: 2px;
}

.booking button {
  position: relative;
  left: 1300px;
  bottom: 260px;
  width: 100px;
  height: 30px;
  border-radius: 1px;
  font-size: medium;
  background-color: #f5f5f5;
}

/*Profile section */

.infobox .boxs {
  position: relative;
  left: 100px;
  display: flex;
  flex-wrap: wrap;
}

form .boxs .inputs {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
}

/*Room type*/

.roomtype {
  position: relative;
  top: -110px;
}

/*managment part*/

:root {
  --primary: black;
  --light: black;
  --grey: black;
}

.manage-page {
  overflow-y: visible;
  font-weight: 300;
  color: black;
}

a:hover {
  text-decoration: none;
}

#sidebar-container {
  min-height: 100vh;
  background-color: transparent;
  position: relative;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
  color: black;
}

#sidebar-container .menu {
  width: 15rem;
  color: black;
}

#sliderrooms {
  width: 60%;
  margin-top: 20px;
  margin: 0px 20%;
}

.footer {
  background-color: black;
  margin-top: 10px;
  color: white;
}

.form-group {
  margin-top: 10px;
  margin-left: 50px;
}

.display-4 {
  margin: 40px;
}

.container {
  margin-bottom: 20px;
}

.form-container {
  width: 400px;
  margin-top: 25px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  position: relative;
}

.btn-gradient {
  background: #808000;
}

.dots {
  font-size: 2.4em;
  margin-left: 0.5rem;
  opacity: 0.75;
}

.room-img {
  widows: 200px;
  height: 200px;
}

.row-item {
  margin: 40px;
}

.form-group .form-row .form-group input {
  width: 150px;
}
#detail {
  margin-bottom: 15px;
}

/*Log Out button */

.logout {
  position: relative;
  left: 800px;
}

/* Report page */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
}

.navbar {
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

.main__container {
  padding: 20px 35px;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
/*apex1*/
.charts__left {
  padding: 25px;
  width: 400px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #86af49;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}
/* apex3*/

.charts__bottom {
  padding: 25px;
  width: 400px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__bottom__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__bottom__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__bottom__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__bottom__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #9e458f;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

/* apex2*/
.charts__right {
  padding: 25px;
  width: 400px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #ffc100;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

.charts__right {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #39447a;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

.charts__right__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.card1 {
  background: #d1ecf1;
  color: #f4a688;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.card2 {
  width: 100px;
  height: 60;
  background: #c1f5e6;
  color: #097a34;
  text-align: center;

  border-radius: 5px;
  font-size: 14px;
}

.card4 {
  width: 100px;
  height: 60;
  background: #fa3747;
  color: #5e0b17;
  text-align: center;

  border-radius: 5px;
  font-size: 14px;
}

/* guest check in */

.form-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  margin: 10px 20px;
}

/* payment update*/
.container1 .user-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 20px 50px;
}

/*create account update */

.container3 .user-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 20px 50px;
}
.container3 .user-details .inpts input {
  width: 190px;
  height: 40px;
  border-radius: 2px;
}
